@tailwind base;
@tailwind components;
@tailwind utilities;


.cont{
    @apply mx-[auto] w-[1192px]
}
/* mx-[45px] sm:mx-[91px] md:mx-[182px]  */

.input-none{
    @apply selection:active:target:hover:focus:outline-none  outline-none 
}

.active{
    @apply text-[24px] font-semibold border-b-4 border-b-[#02498E] leading-none -mb-[12px]
}

.offert-d{
    @apply text-[#9ACAEC]
}


.container{
    @apply w-5/6 md:mx-52 mx-[15%] sm:mx-[10%]
}

.slider {
    width: 200px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.slide-ana {
    height: 360px;
}

.slide-ana>div {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.7s;
}

@media (min-width: 200px) and (max-width: 639px) {
    .slider {
        height: 300px;
        width: 170px;
    }
}